/*
  Paleta de colores
  FAF6F6
  3A298F
  DB5461
  9587A4
  000000


*/

:root {
  --main-bg-color: #faf6f6;
  --main-color: #3a298f;
  --main-color-2: #db5461;
  --main-color-dark: #9587a4;
  --main-color-darkest: #000000;
}

body {
  background-color: var(--main-bg-color);
}

input {
  background-color: white !important;
}

label {
  color: var(--main-color-2) !important;
}

h1,
h2,
h3 {
  color: var(--main-color-2);
}

h4,
h5 {
  color: var(--main-color-2);
}

footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45009d;
  bottom: 0;
  position: fixed;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
}

.navbarLogo {
}

.MuiTypography-h6 {
  color: var(--main-color) !important;
}

.MuiCircularProgress-svg {
}

logo {
  width: 100% !important;
  height: auto !important;
}

.image-container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}

.image-container .image {
  padding-top: 4px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  max-height: 240px !important;
}

@media (max-width: 1000px) {
  .logo {
    display: none !important;
  }
}
